.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 21px, 20px;
  align-items: center;
}

.main-nav__toggle {
  position: absolute;
  top: 10px;
  right: 345px;
}

.main-nav__list {
  .ul-none();
}

.main-nav__link {
  .decoration-none();

  font-family: @base-ff;
  color: #ffffff;
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 32px;
  padding: 16px 20px;
  box-shadow: 0 -1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);
}

