.download {
  background-image: url("../img/index/back-mobile.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download__title {
  .indent-none();

  color: #ffffff;
  font-family: @base-ff;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  padding-top: 35px;
  text-align: center;
  margin-bottom: 320px;
}

.download__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d2631;
}

.download__button {
  .decoration-none();

  display: block;
  font-family: @base-ff;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  outline: 3px solid #ffffff;
  border-radius: 29px;
  padding: 21px 38px;
  margin-top: 28px;
  margin-bottom: 32px;
}

.download__images {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}

.download__images--android {
  margin-left: 35px;
  margin-right: 35px;
}

.download__info {
  .indent-none();

  color: #ffffff;
  font-family: @base-ff;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 38px;
}
