.information {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin-bottom: 40px;
}

.information__title,
.information__intro {
  .indent-none();

  color: #283645;
  font-family: @base-ff;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
}

.information__title {
  margin-top: 46px;
  margin-bottom: 30px;
}
