.rates {
  text-transform: uppercase;
}

.rates__list {
  .ul-none();
}

.rates__title {
  .indent-none();

  background-color: @base-color;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  padding-top: 19px;
}

.rates__price {
  .indent-none();

  background-color: @base-color;
  color: #ffffff;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 35px;
}

.rates__title,
.rates__price {
  text-align: center;
}

.rates__table {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  padding-left: 22px;
}
